body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #4CAF50;
}

form {
    width: 300px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #4CAF50;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 1.2em;
    margin-bottom: 20px;
}

